.result{
    background-color: rgb(241, 17, 189);
    color: aliceblue;
    width: 60%;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 15px;
}

.contaier{
    background-color: antiquewhite;
    color: black;
    border-radius: 20px;
    margin: 5px;
    width: 60%;
    text-align: center;
    margin: auto;
    margin-top: 5px;
}
.field{
    width: 50px;
    border-radius: 10px;
    background-color:black ;
    color: rgb(248, 247, 244);
}

table{
    border-collapse: collapse;
    background-color: beige;
    margin: auto;
    width: 60%;
    margin-top: 20px;
    min-height: 200px;
    font-size: 25px;
}
